// @import "bootswatch/paper/variables";
// @import "bootswatch/paper/bootswatch";
@import 'bootstrap/scss/bootstrap.scss';

$animation-speed: 200ms;

.todo-list{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.todo{
  .form-group{
    margin-bottom: 0;
  }
}

.todo-title{
  cursor: text;
  > input {
    max-width: 100%;
    border: 0;
    display: inline;
  }
  >input:focus {
    outline: none;
  }
}

// .todo-title.form-control{
//     display: inline;
// }

.todo-title .completed{
  >input {
    text-decoration: line-through;
  }
}

.text-center{
  text-align: center;
}

.todo-editing{
  height: 18px;
  font-size: 12px;
  margin: 0;
  color: gray;
}

.example-enter {
   opacity: 0.1;
}

.example-enter.example-enter-active {
   opacity: 1;
   transition: opacity $animation-speed ease-in;
}

.example-leave {
   opacity: 1;
}

.example-leave.example-leave-active {
   opacity: 0.01;
   transition: opacity $animation-speed ease-out;
}

.hand-on-hover{
  cursor: pointer;
}
