// @import "bootswatch/paper/variables";
// @import "bootstrap";
// @import "bootswatch/paper/bootswatch";

.list-group-item.task {
  padding-top: 5px;
  padding-bottom: 5px;
}

.row.no-gutter {
  margin-right:0;
  margin-left:0;
}

.row.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.example-enter {
   opacity: 0.01;
}

.example-enter.example-enter-active {
   opacity: 1;
   transition: opacity 500ms ease-in;
}

.example-leave {
   opacity: 1;
}

.example-leave.example-leave-active {
   opacity: 0.01;
   transition: opacity 500ms ease-in;
}

.display-task {
  cursor: default;
	box-shadow: none;
}
