// @import "bootswatch/paper/variables";
// @import "bootswatch/paper/bootswatch";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import '~bootstrap/scss/bootstrap.scss';

$animation-speed: 250ms;

.todo-list{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.todo{
  padding: 0.2rem;
}

.todo-title{
  cursor: text;
}

.todo-title.editing{
  color: green;
}

.todo-title.completed{
  text-decoration: line-through;
}

.text-center{
  text-align: center;
}

.example-enter {
   opacity: 0.01;
}

.example-enter.example-enter-active {
   opacity: 1;
   transition: opacity $animation-speed ease-in;
}

.example-leave {
   opacity: 1;
}

.example-leave.example-leave-active {
   opacity: 0.01;
   transition: opacity $animation-speed ease-out;
}
